---
import { Image } from "astro:assets";
import textAndContactImage from "../images/text-and-contact.webp";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Colexio Mendiño" />
    <title>Colexio Mendiño</title>
  </head>
  <body style="display: flex; justify-content: center;">
    <Image
      src={textAndContactImage}
      alt="Text and contact."
      style="width: 90%; height: auto;"
    />
  </body>
</html>
